body{
    text-align: center;
    color: white;
    background-color:rgb(83, 83, 83);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body .left{
    display: flex;
    align-items: center;
    margin-right: auto;
    color: white;
    text-decoration: none;
    position: fixed;
    margin-top: 0px;
  }

  body .center{
    align-items: center;
    text-align: center;
    margin-top: 0px;
  }

#acciones{
    margin: 20px auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    width: 200px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    background-color: black;
    color: white;
    width: 150px;
    transition: 0.5s;
}

#añadirAsiento{
    display: none;
    border: solid white;
    border-radius: 20px;
    padding: 20px 0px;
}

#añadirAsiento img{
    display: flex;
    color: black;
    cursor: pointer;
    position: fixed;
    top: 139px;
    right: 9px;
    width: 40px;
    height: 40px;
}

#añadirAsiento img:hover{
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
}



#consultarMayor{
    border: solid white;
    border-radius: 20px;
    padding: 20px 0px;
}

#consultarMayor img{
    display: flex;
    color: black;
    cursor: pointer;
    position: fixed;
    top: 79px;
    right: 9px;
    width: 40px;
    height: 40px;
}

#consultarMayor img:hover{
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
}

.asiento-container{
    align-items: center;
    display: flex;
    width: 100%;
    border: none !important;
}

.cuenta-container{
    width: 35%;
}

.debe-container{
    padding-bottom: 112px;
    border: none;
}

.haber-container{
    padding-bottom: 112px;
    border: none;
}

.cuenta-container #cuenta{
    width: 70%;
}

.debe-container input{
    width: 70%;
}

.haber-container input{
    width: 70%;
}
