body{
    text-align: center;
    color: white;
    background-color:rgb(83, 83, 83);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#acciones{
    margin: 20px auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: white;
    margin: 10px;
    color: black;
    padding: 10px 20px;
    width: 250px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    background-color: black;
    color: white;
    width: 210px;
    transition: 0.5s;
}

#btnReiniciar{
    display: flex;
    width: 200px;
}

#btnReiniciar:hover{
    width: 139px;
}

#añadirAsiento{
    display: none;
    border: solid white;
    border-radius: 20px;
    padding: 20px 0px;
}

#añadirAsiento img{
    display: flex;
    color: black;
    cursor: pointer;
    position: fixed;
    top: 159px;
    right: 9px;
    width: 40px;
    height: 40px;
}

#añadirAsiento img:hover{
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
}



#consultarAsiento{
    display: none;
    border: solid white;
    border-radius: 20px;
    padding: 20px 0px;
}

#consultarAsiento img{
    display: flex;
    color: black;
    cursor: pointer;
    position: fixed;
    top: 159px;
    right: 9px;
    width: 40px;
    height: 40px;
}

#consultarAsiento img:hover{
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
}

.asiento-container{
    align-items: center;
    display: flex;
    width: 100%;
    border: none !important;
}

.cuenta-container{
    width: 35%;
}

.debe-container{
    padding-bottom: 112px;
    border: none;
}

.haber-container{
    padding-bottom: 112px;
    border: none;
}

.cuenta-container #cuenta{
    width: 70%;
}

.debe-container input{
    width: 70%;
}

.haber-container input{
    width: 70%;
}

.modal {
    display: none; /* Oculta el modal de forma predeterminada */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    z-index: 1;
  }
  
.modal-content {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 20%;
    height: 30%;
}
  
#closeModalButton {
    background-color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 35px;
    cursor: pointer;
    border-radius: 5px;
}
  
#closeModalButton:hover {
    background-color: #999;
    color: black;
}
