body{
    text-align: center;
    color: white;
    background-color:rgb(83, 83, 83);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 50px;
    margin: 0;
    margin-bottom: 20px;
    
}

.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: black;
    padding: 10px 20px;
    width: 250px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}

.btn:hover{
    background-color: black;
    color: white;
    width: 200px;
    transition: 0.5s;
}