body {
    text-align: center;
    color: white;
    background-color: rgb(83, 83, 83);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body .left {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: white;
    text-decoration: none;
    position: absolute;
    margin-top: 0px;
}

body .center {
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

#acciones {
    margin: 20px auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    width: 200px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button:hover {
    background-color: black;
    color: white;
}

#añadirCuenta {
    display: none;
    border: solid white;
    border-radius: 20px;
    padding: 20px 0px;
}

#añadirCuenta img {
    display: flex;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 139px;
    right: 9px;
    width: 40px;
    height: 40px;
}

#añadirCuenta img:hover {
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;

}

#eliminarCuentaId {
    display: none;
    border: solid white;
    border-radius: 20px;
    padding: 20px 0px;
}

#eliminarCuentaId img {
    display: flex;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 139px;
    right: 9px;
    width: 40px;
    height: 40px;
}

#eliminarCuentaId button:hover {
    background-color: black;
    color: white;
    width: 160px;
    transition: 0.5s;
}

#eliminarCuentaId img:hover {
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
}

#modificarCuenta {
    display: none;
    border: solid white;
    border-radius: 20px;
    padding: 20px 0px;
}

#modificarCuenta img {
    display: flex;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 139px;
    right: 9px;
    width: 40px;
    height: 40px;
}

#modificarCuenta button:hover {
    background-color: black;
    color: white;
    width: 170px;
    transition: 0.5s;
}

#modificarCuenta img:hover {
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
}


#consultarCuenta {
    display: none;
    border: solid white;
    border-radius: 20px;
    padding: 20px 0px;
}

#consultarCuenta img {
    display: flex;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 139px;
    right: 9px;
    width: 40px;
    height: 40px;
}

#consultarCuenta img:hover {
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
}

#tablaCuentas{
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    color: black;
}

#tablaCuentas th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#tablaCuentas th{
    background-color: #f2f2f2;
}